*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.classpath
*.project
target
.settings
*.prefs
*.log
*.cache
*.mule
antx.properties
*.metadata
target
*.pmd
*.class
bin
*.iml
.idea
logs
classes/
*.class
*.ipr
*.iws
