
build*/
.gradle/
logs/
malanhome/bin/
ad-apiweb/WebContent/WEB-INF/lib
*/java/META-INF/
*/WEB-INF/lib/
*/ad-api/logs/
*/bin/
*.iml
.idea/
proc
.directory
.mailmap
*.ncb
target*/
*.orig
*.tlog
*.war
*.sdf
*.opensdf
*.log
*.ipch
*.pdb
debug/
release/
.settings/
*.rej
*.class
*.project
*.classpath
.DS_Store
*~
.hg/
*.kdev*
.DS_Store
.git
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
